PORT=3000
MP_ACCESS_TOKEN=tu_mercado_pago_access_token
FIREBASE_PROJECT_ID=tu_proyecto_id
FIREBASE_CLIENT_EMAIL=tu_firebase_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
MP_WEBHOOK_URL=https://tu-backend.com/api/payments/webhook
SUCCESS_URL=https://tu-frontend.com/premium
FAILURE_URL=https://tu-frontend.com/premium
PENDING_URL=https://tu-frontend.com/premium
APP_URL=https://tu-frontend.com
